//LOCATION: q/home

// ============= Footer =============

// ------------- Mixins

@mixin footerTextStyle{
	text-align: right;
	vertical-align: center;
	font-style: italic;
}
// ------------- Functions


//-------------- Variables



//.............. Classes


#footer{
	color: $footerFontColor;
	font-family:$fontBookStyle;
	@include basicBoxStyle;
}

#anita{
	text-align:center;
	font-size: 24px;
	border-bottom: $footerBorder;
	background-color: $mainContentBackgroundColor;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 30px;
	letter-spacing: 1px;
}

#footerInfoContainer {
	@include basicBoxStyle;
	background-color: $mainContentBackgroundColor;
	padding-top: 5px;

	
}

.footerInfoSocial{
	width:360px;
	margin-right: 15px;
	float: left;
}

.footerInfo{
	float: right;
	width:155px;
	background-color: $mainContentBackgroundColor;
}



.writeStyleFooterLarge {
	@include footerTextStyle;
	text-align:left;
	padding-left: 10px;
	font-size: 1.3em;
	margin-left: 5px;
	margin-top: 5px;

}

.writeStyleFooterSmall {
	@include footerTextStyle;
	margin-top: 5px;
	margin-left: 10px;
	padding: 5px;	
	font-size: 0.85em;
	line-height:1.5em;
	float: left;
}

.footerSocialImage {
	float:left;
	display: block;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#authorContent{
	font-size:.7em;
	color:$footerBack;
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
}
