//LOCATION: q/home

// ============= Footer =============

// ------------- Mixins

@mixin footerTextStyle{
	text-align: center;
	vertical-align: top;
	font-style: italic;
}
// ------------- Functions


//-------------- Variables



//.............. Classes


#footer{
	color: $footerFontColor;
	font-family:$fontBookStyle;
	@include basicBoxStyle;
}

#anita{
	text-align:center;
	font-size: 24px;
	border-bottom: $footerBorder;
	background-color: $mainContentBackgroundColor;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 30px;
	letter-spacing: 1px;
}

#footerInfoContainer {
	@include basicBoxStyle;
	background-color: $mainContentBackgroundColor;
	padding-top: 5px;
}

.footerInfo{
	float: left;
	width:$siteWidth/5;
	background-color: $mainContentBackgroundColor;
}
.writeStyleFooterLarge {
	@include footerTextStyle;

	font-size: 1.3em;
	margin-left: 5px;
	margin-top: 5px;
}

.writeStyleFooterSmall {
	@include footerTextStyle;

	margin-right: 10px;
	padding: 5px;	
	font-size: 0.85em;
	line-height:1.5em;
	float: right;
}

.footerSocialImage {
	float:left;
	display: block;
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#authorContent{
	font-size:.7em;
	color:$footerBack;
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
}
